{% extends "modelo.html" %}

{% block conteudo %}

<div class="container mt-5">
  <div class="row justify-content-center">

    <!-- Victor -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="static/img/victor_perfil.png" class="card-img-top" alt="victor"
            style="width: 100%; height: 500px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Victor de Oliveira Gadelha</h5>
          <p class="card-text"></p>
          <a href="https://github.com/VictorGadelhaa" class="btn btn-primary d-flex align-items-center justify-content-center gap-2" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Miguel -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="static/img/miguel_perfil.png" class="card-img-top" alt="miguel"
        style="width: 100%; height: 500px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Miguel Coura Lemos</h5>
          <p class="card-text"></p>
          <a href="https://github.com/MIGUELLEMOS777" class="btn btn-primary d-flex align-items-center justify-content-center gap-2" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Diogo  -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="static/img/diogo_perfil.png" class="card-img-top" alt="diogo"
             style="width: 100%; height: 500px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Diogo Ewerton Silva</h5>
          <p class="card-text"></p>
          <a href="https://github.com/DiogoDgzin" class="btn btn-primary d-flex align-items-center justify-content-center gap-2" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>

    <!-- José -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="static/img/jose_perfil.png" class="card-img-top" alt="josé"
             style="width: 100%; height: 500px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">José Maria Ferreira de Araújo</h5>
          <p class="card-text"></p>
          <a href="https://github.com/josepharauj" class="btn btn-primary d-flex align-items-center justify-content-center gap-2" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="align-left mt-4">
    <a href="/" class="btn btn-outline-secondary">Página Inicial</a>
  </div>
</div>

{% endblock %}
